apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: {{ monitoring_namespace }}
  labels:
    app: loki
spec:
  selector:
    app: loki
  ports:
    - port: {{ loki_service_port }}
      targetPort: {{ loki.port }}
      name: http
