apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki
  namespace: {{ monitoring_namespace }}
  labels:
    app: loki
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
    spec:
      nodeSelector:
        node-type: worker
      containers:
        - name: loki
          image: {{ loki.image }}
          args:
            - -config.file=/etc/loki/loki.yaml
          ports:
            - containerPort: {{ loki.port }}
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 200m
              memory: 256Mi
          volumeMounts:
            - name: config
              mountPath: /etc/loki
            - name: data
              mountPath: /loki
          livenessProbe:
            httpGet:
              path: /ready
              port: {{ loki.port }}
            initialDelaySeconds: 45
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /ready
              port: {{ loki.port }}
            initialDelaySeconds: 45
            periodSeconds: 5
      volumes:
        - name: config
          configMap:
            name: loki-config
        - name: data
          emptyDir: {}
