apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ keycloak_db_pvc_name }}
  namespace: {{ iam_namespace }}
  labels:
    app: keycloak-db
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: {{ keycloak_db_pvc_size }}
