apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: {{ monitoring_namespace }}
  labels:
    app: grafana
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
    - port: {{ grafana.port }}
      targetPort: {{ grafana.port }}
      nodePort: {{ grafana.nodeport }}
