apiVersion: v1
kind: Service
metadata:
  name: frontdoor
  namespace: {{ frontdoor_namespace }}
  labels:
    app: frontdoor
spec:
  type: NodePort
  selector:
    app: frontdoor
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: {{ frontdoor_nodeport }}
