apiVersion: v1
kind: Service
metadata:
  name: location-app
  namespace: {{ apps_namespace }}
  labels:
    app: location-app
spec:
  selector:
    app: location-app
  ports:
    - protocol: TCP
      port: {{ positioning_demo_service_port }}
      targetPort: 80
      nodePort: {{ positioning_demo_nodeport }}
      name: http
  type: NodePort
