DASHBOARD_APP_ENV=dev
DASHBOARD_KUBECONFIG_PATH=/home/vagrant/.kube/config
DASHBOARD_WORKER_SSH_HOST=worker
DASHBOARD_ADMIN_TOKEN=change-me
DASHBOARD_ALLOW_CONFIGMAP_WRITE=false
DASHBOARD_CORS_ORIGIN=http://localhost:5173
