apiVersion: v1
kind: Service
metadata:
  name: positioning-engine
  namespace: {{ positioning_namespace }}
  labels:
    app: positioning-engine
spec:
  selector:
    app: positioning-engine
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: {{ positioning_engine_nodeport }}
      name: http
  type: NodePort
