apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ nf.name }}
  namespace: {{ namespace_5g }}
{% set has_static_secondary_ips = (nf.networks | default([]) | selectattr('ips', 'defined') | list | length) > 0 %}
spec:
  replicas: {{ nf.replicas | default(1) }}
{% if has_static_secondary_ips %}
  # Static Multus IPs cannot be safely rolled with overlapping old/new pods.
  # rollingUpdate: null removes it when patching from RollingUpdate (forbidden with Recreate)
  strategy:
    rollingUpdate: null
    type: Recreate
{% endif %}
  selector:
    matchLabels:
      app: {{ nf.name }}
  template:
    metadata:
      labels:
        app: {{ nf.name }}
      annotations:
        checksum/config: "{{ lookup('template', playbook_dir + '/configs/' ~ (nf.name | replace('-', '_')) ~ '.yaml') | hash('sha256') }}"
        checksum/scripts: "{{ lookup('file', playbook_dir + '/scripts/' ~ (nf.name | replace('-', '_')) ~ '_init.sh') | hash('sha256') }}"
{% if nf.networks is defined %}
        k8s.v1.cni.cncf.io/networks: |
          {{ nf.networks | to_json }}
{% endif %}
    spec:
      terminationGracePeriodSeconds: 15
      nodeSelector:
        kubernetes.io/hostname: {{ nf.node | default('worker') }}
{% if nf.enable_rp_filter_fix | default(false) %}
      initContainers:
      - name: sysctl-init
        image: busybox
        command: ["/bin/sh", "-c"]
        args:
          - |
            sysctl -w net.ipv4.conf.all.rp_filter=0;
            sysctl -w net.ipv4.conf.default.rp_filter=0;
            sysctl -w net.ipv4.ip_forward=1;
            echo "Multi-homed routing enabled for {{ nf.name }}"
        securityContext:
          privileged: true
{% endif %}
      containers:
      - name: {{ nf.name }}
        image: {{ nf_image }}
        imagePullPolicy: IfNotPresent
        ports:
{% for port in nf.ports %}
        - containerPort: {{ port.port }}
          name: {{ port.name }}
{% if port.protocol is defined %}
          protocol: {{ port.protocol }}
{% endif %}
{% endfor %}
{% if nf.privileged | default(false) %}
        securityContext:
          privileged: true
{% endif %}
        env:
        - name: {{ nf.name | replace('-', '_') | upper }}_CONFIG
          value: "/etc/open5gs/{{ nf.name | replace('-', '_') }}.yaml"
{% if nf.db_required | default(true) %}
        - name: DB_URI
          value: "mongodb://mongodb:27017/open5gs"
{% endif %}
{% if nf.extra_env is defined %}
{% for env in nf.extra_env %}
        - name: {{ env.name }}
          value: "{{ env.value }}"
{% endfor %}
{% endif %}
        command: ["bash", "/open5gs/install/scripts/{{ nf.name | replace('-', '_') }}_init.sh"]
        volumeMounts:
        - name: {{ nf.name }}-config
          mountPath: /etc/open5gs
        - name: {{ nf.name }}-scripts
          mountPath: /open5gs/install/scripts
      volumes:
      - name: {{ nf.name }}-config
        configMap:
          name: {{ nf.name }}-config
      - name: {{ nf.name }}-scripts
        configMap:
          name: nf-scripts

