apiVersion: v1
kind: Service
metadata:
  name: {{ gnb_name }}
  namespace: {{ namespace_5g }}
  labels:
    app: {{ gnb_name }}
spec:
  type: ClusterIP
  selector:
    app: {{ gnb_name }}
{% if gnb_ports | length > 0 %}
  ports:
{% for port in gnb_ports %}
    - port: {{ port.port }}
      targetPort: {{ port.port }}
      protocol: {{ port.protocol | default('TCP') }}
      name: {{ port.name }}
{% endfor %}
{% endif %}

